@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }
  body .wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column; }
    body .wrap .top {
      flex-grow: 1; }

.container {
  width: 1140px;
  margin: auto; }

.center {
  padding: 0 calc(50% - 570px); }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background-color: white;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17); }
  .header .logo {
    width: 165px;
    background: url("../img/logo.png") no-repeat;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    padding-left: 72px;
    line-height: 51px; }
    .header .logo span {
      color: #f38191;
      font-weight: 700; }
  .header .search {
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    height: 40px;
    font-weight: 300; }
    .header .search .searchBrowse {
      padding: 14px;
      border-right: 1px solid #e6e6e6;
      background-color: #f8f8f8;
      font-size: 14px;
      line-height: 40px;
      color: #222222;
      font-weight: 400; }
      .header .search .searchBrowse i:first-child {
        color: #838383; }
    .header .search input {
      height: inherit;
      border: none;
      outline: none;
      padding: 14px 16px; }
    .header .search button {
      height: inherit;
      border: none;
      border-left: 1px solid #e6e6e6;
      background: none;
      padding: 12px; }
      .header .search button i {
        color: #a4a4a4; }
  .header .headerCart {
    margin-right: 24px;
    margin-left: auto; }
  .header .accountBtn {
    padding: 13px 19px;
    background-color: #f38191;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: none; }

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 0; }
  .menu__link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    padding: 20px;
    display: block; }

.promo {
  height: 665px;
  background-color: #e8e8e8; }
  .promo .promo__content {
    height: 665px;
    background: url("../img/topHeaderBack.png") no-repeat top right;
    background-size: 610px auto;
    position: relative; }
    .promo .promo__content div {
      height: 107px;
      width: 12px;
      background: #f38191;
      float: left;
      margin-top: 270px; }
    .promo .promo__content div:nth-child(2) {
      width: 485px;
      height: 0;
      background: #e8e8e8;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 270px; }
    .promo .promo__content span {
      color: #f38191; }
    .promo .promo__content b {
      letter-spacing: 1.5px;
      font-size: 60px;
      font-weight: 900;
      line-height: 0.7em; }

.footer {
  height: 100px;
  background-color: #ccc; }

/*# sourceMappingURL=style.css.map */
