@import 'default';
@import 'vars';
@import 'media';
@import 'mixins';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(236, 236, 236, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  .logo {
    width: 165px;
    background: url("../img/logo.png") no-repeat;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    padding-left: 72px;
    line-height: 51px;
    span {
      color: $colorSite;
      font-weight: 700;
    }
  }
  .search {
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    height: 40px;
    font-weight: 300;
    margin-left: 13px;
    .searchBrowse {
      padding: 14px;
      border-right: 1px solid #e6e6e6;
      background-color: #f8f8f8;
      font-size: 14px;
      line-height: 40px;
      color: #222222;
      font-weight: 400;
      i:first-child {
        color: #838383;
      }
    }
    input {
      height: inherit;
      border: none;
      outline: none;
      padding: 14px 16px;
      width: 300px;
    }
    button {
      height: inherit;
      border: none;
      border-left: 1px solid #e6e6e6;
      background: none;
      padding: 12px;
      i {
        color: #a4a4a4;
      }
    }
  }
  .headerCart {
    margin-right: 24px;
    margin-left: auto;
  }
  .accountBtn {
    padding: 13px 19px;
    background-color: $colorSite;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: none;
  }
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  &__link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    padding: 20px;
    display: block;
  }
}

@import 'main-page';
@import 'shopping-cart';

.footer {
  margin-top: 100px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .footerBrand {
    width: 427px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #898989;
    .footerBrandText1 {
      margin: 30px 0;
    }
  }
  .footerColumn {
    padding-top: 15px;
    h2 {
      margin: 0 0 30px;
      font-size: 18px;
      font-weight: 700;
      color: #f16d7f;
    }
    a {
      display: block;
      color: #898989;
      font-size: 16px;
      text-decoration: none;
    }
    a:hover {
      color: #f16d7f;
    }
    a:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.copyrights {
  margin-top: 100px;
  height: 80px;
  background: #e6e6e6;
  .copyrightsWrap {
    color: #7a7a7a;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copyrightsRight {
      display: flex;
      width: 200px;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: inherit;
      }
      i {
        width: 32px;
        height: 32px;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      i:hover {
        color: white;
        background: #f16d7f;
      }
    }
  }
}