@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }
  body .wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column; }
    body .wrap .top {
      flex-grow: 1; }

.container {
  width: 1140px;
  margin: auto; }

.center {
  padding: 0 calc(50% - 570px); }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.horizonLine {
  border-bottom: 1px solid #ececec; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background-color: white;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17); }
  .header .logo {
    width: 165px;
    background: url("../img/logo.png") no-repeat;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    padding-left: 72px;
    line-height: 51px; }
    .header .logo span {
      color: #f38191;
      font-weight: 700; }
  .header .search {
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    height: 40px;
    font-weight: 300;
    margin-left: 13px; }
    .header .search .searchBrowse {
      padding: 14px;
      border-right: 1px solid #e6e6e6;
      background-color: #f8f8f8;
      font-size: 14px;
      line-height: 40px;
      color: #222222;
      font-weight: 400; }
      .header .search .searchBrowse i:first-child {
        color: #838383; }
    .header .search input {
      height: inherit;
      border: none;
      outline: none;
      padding: 14px 16px;
      width: 300px; }
    .header .search button {
      height: inherit;
      border: none;
      border-left: 1px solid #e6e6e6;
      background: none;
      padding: 12px; }
      .header .search button i {
        color: #a4a4a4; }
  .header .headerCart {
    margin-right: 24px;
    margin-left: auto; }
  .header .accountBtn {
    padding: 13px 19px;
    background-color: #f38191;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: none; }

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 0; }
  .menu__link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    padding: 20px;
    display: block; }

.promo {
  height: 665px;
  background-color: #e8e8e8; }
  .promo .promo__content {
    height: 665px;
    background: url("../img/topHeaderBack.png") no-repeat top right;
    background-size: 610px auto;
    position: relative; }
    .promo .promo__content div {
      height: 107px;
      width: 12px;
      background: #f38191;
      float: left;
      margin-top: 270px; }
    .promo .promo__content div:nth-child(2) {
      display: block;
      width: 485px;
      height: 0;
      background: #e8e8e8;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 270px; }
    .promo .promo__content span {
      color: #f38191; }
    .promo .promo__content b {
      letter-spacing: 1.5px;
      font-size: 60px;
      font-weight: 900;
      line-height: 0.7em; }

.offers {
  display: flex;
  flex-flow: column wrap;
  height: 827px;
  margin-top: 100px;
  justify-content: space-between;
  align-content: space-between; }
  .offers .offer {
    position: relative; }
    .offers .offer article {
      padding: 10px;
      position: absolute;
      top: 25px;
      background: #ffffff;
      width: auto;
      letter-spacing: 0.45px;
      line-height: 1.15;
      text-transform: uppercase; }
      .offers .offer article h2 {
        font-size: 18px;
        font-weight: 900; }
      .offers .offer article p {
        color: #f38191;
        font-size: 30px;
        letter-spacing: 0.75px;
        margin-bottom: 0;
        font-weight: 900; }

.featuredItemsWrap {
  margin-top: 100px;
  padding-left: 0;
  padding-right: 0; }
  .featuredItemsWrap .featuredHead {
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .featuredItemsWrap .featuredDesc {
    text-align: center;
    color: #9f9f9f;
    font-size: 14px;
    margin-top: 15px; }
  .featuredItemsWrap .featuredItems {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.featuredItem {
  width: 264px;
  height: 370px; }
  .featuredItem:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }
  .featuredItem:nth-child(n+5) {
    margin-top: 27px; }
  .featuredItem .featuredImgWrap {
    height: 280px;
    position: relative; }
    .featuredItem .featuredImgWrap .featuredBuy {
      height: inherit;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      position: absolute; }
      .featuredItem .featuredImgWrap .featuredBuy button {
        padding: 15px;
        border: 1px solid #ffffff;
        background: none;
        color: white;
        font-size: 13px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .featuredItem .featuredImgWrap .featuredBuy button img {
          margin-right: 10px; }
        .featuredItem .featuredImgWrap .featuredBuy button :hover {
          box-shadow: 0px 0px 5px 0px white; }
    .featuredItem .featuredImgWrap .featuredProduct {
      width: 100%;
      display: block;
      height: inherit;
      object-fit: cover;
      object-position: center center; }
  .featuredItem:hover .featuredBuy {
    display: flex;
    justify-content: center;
    align-items: center; }
  .featuredItem .featuredNameAndPrice {
    padding: 15px; }
    .featuredItem .featuredNameAndPrice .featuredItemName {
      margin-bottom: 15px;
      font-size: 13px;
      text-transform: uppercase;
      color: #222222;
      font-weight: 700;
      max-height: 2.4em;
      overflow: hidden; }
    .featuredItem .featuredNameAndPrice .featuredItemPrice {
      color: #f16d7f;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }

.featuredAllProductsBtn {
  padding: 18px 24px;
  background: #f16d7f;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 60px auto 110px; }
  .featuredAllProductsBtn img {
    margin-left: 10px; }

.offerForWomen {
  display: flex;
  height: 530px; }

.offerForWomenBanner {
  flex-shrink: 0;
  height: inherit;
  width: 767px;
  background: url(../img/offerForWomen.jpg) no-repeat;
  background-size: cover;
  position: relative; }

.offerText {
  position: absolute;
  top: 146px;
  left: 40px;
  color: #ffffff; }
  .offerText div:first-child {
    font-size: 54px;
    font-weight: 700; }
    .offerText div:first-child span {
      color: #f16d7f; }
  .offerText div:last-child {
    font-size: 32px; }

.offerDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #222224;
  color: #fbfbfb; }

.offerUnit {
  padding: 30px 30px 30px 110px;
  flex-grow: 1; }
  .offerUnit:first-child {
    background: url(../img/offerDetails1.png) no-repeat 36px 30px; }
  .offerUnit:nth-child(2) {
    background: url(../img/offerDetails2.png) no-repeat 36px 30px; }
  .offerUnit:last-child {
    background: url(../img/offerDetails3.png) no-repeat 36px 30px; }
  .offerUnit .offerDetailsHead {
    font-size: 20px;
    font-weight: 700; }
  .offerUnit .offerDetailsText {
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: justify;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }

.subscribeWrap {
  margin-top: 100px;
  height: 438px;
  background: url(../img/subscribe.jpg) no-repeat center bottom, #ccc;
  background-blend-mode: overlay;
  background-size: cover; }
  .subscribeWrap .subscribe {
    display: flex;
    height: inherit; }

.reviews {
  display: flex;
  align-items: center;
  width: calc(100% - 1px); }

.reviewUnit {
  width: 500px;
  display: flex;
  justify-content: space-between; }
  .reviewUnitLeft {
    width: 83px; }
  .reviewUnitRight {
    width: 386px; }
    .reviewUnitRight blockquote {
      margin: 0;
      font-size: 16px;
      font-style: italic;
      line-height: 26px;
      font-weight: 700; }
    .reviewUnitRight .reviewName {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 700;
      color: #f16d7f; }
    .reviewUnitRight .reviewFrom {
      color: #222224;
      font-size: 12px;
      font-weight: 300; }
    .reviewUnitRight .reviewsSwitch {
      width: 140px;
      display: flex;
      justify-content: space-between;
      margin-top: 40px; }
      .reviewUnitRight .reviewsSwitch div {
        width: 38px;
        height: 4px;
        background-color: #d6d6d6; }
        .reviewUnitRight .reviewsSwitch div:hover {
          background-color: #f16d7f;
          cursor: pointer; }

.subscribeDivider {
  width: 1px;
  background: #e3e3e3; }

.subscribeRight {
  width: calc(100% - 1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .subscribeRight .subscribeRightHead {
    font-size: 24px;
    text-transform: uppercase;
    color: #222224; }
  .subscribeRight .subscribeRightText {
    margin: 10px 0 35px; }
  .subscribeRight .subscribeForm {
    height: 46px; }
    .subscribeRight .subscribeForm input {
      height: inherit;
      width: 334px;
      border: none;
      outline: none;
      padding: 0 28px;
      font-weight: 700;
      background-color: #e1e1e1;
      border-top-left-radius: 23px;
      border-bottom-left-radius: 23px;
      float: left; }
    .subscribeRight .subscribeForm button {
      background-color: #f16d7f;
      border-top-right-radius: 23px;
      border-bottom-right-radius: 23px;
      color: white;
      border: none;
      height: inherit;
      padding: 0 20px;
      outline: none;
      cursor: pointer; }

.newArrivalsDecor {
  height: 148px;
  background-color: #f8f3f4; }
  .newArrivalsDecor .newArrivals {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .newArrivalsDecor .newArrivals h1 {
      color: #f16d7f;
      font-size: 24px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase; }
    .newArrivalsDecor .newArrivals nav a {
      text-decoration: none;
      color: #636363;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase; }
      .newArrivalsDecor .newArrivals nav a:hover {
        color: #f16d7f; }

.shoppingCart {
  margin-top: 100px; }

.shoppingGridRowHead {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: #222222 !important; }
  .shoppingGridRowHead > div:first-child {
    width: 460px; }
  .shoppingGridRowHead > div:not(:first-child) {
    display: flex;
    justify-content: center;
    align-items: center; }
  .shoppingGridRowHead .productPrice {
    width: 78px; }
  .shoppingGridRowHead .productQty {
    width: 68px; }
    .shoppingGridRowHead .productQty input {
      width: 54px;
      border: 1px solid #eaeaea;
      text-align: center;
      height: 30px; }
  .shoppingGridRowHead .productShipping {
    width: 62px; }
  .shoppingGridRowHead .productSubtotal {
    width: 66px; }
  .shoppingGridRowHead .productAction {
    width: 50px; }

.shoppingGridRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 20px;
  color: #656565; }
  .shoppingGridRow > div:first-child {
    width: 460px; }
  .shoppingGridRow > div:not(:first-child) {
    display: flex;
    justify-content: center;
    align-items: center; }
  .shoppingGridRow .product {
    display: flex; }
    .shoppingGridRow .product img {
      margin-right: 20px; }
    .shoppingGridRow .product .productDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 13px;
      padding-bottom: 22px; }
      .shoppingGridRow .product .productDetails .productName {
        margin-top: 0;
        margin-bottom: auto;
        font-size: inherit;
        font-weight: inherit; }
      .shoppingGridRow .product .productDetails .productColor {
        font-weight: 300; }
        .shoppingGridRow .product .productDetails .productColor .productParam {
          font-weight: 400; }
      .shoppingGridRow .product .productDetails .productSize {
        font-weight: 300; }
        .shoppingGridRow .product .productDetails .productSize .productParam {
          font-weight: 400; }

.shoppingBtnsWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 44px; }
  .shoppingBtnsWrap button {
    padding: 20px 40px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: 700; }

.checkOutWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
  align-items: flex-start; }

.shippingAddressWrap {
  width: 355px; }
  .shippingAddressWrap h2 {
    margin-top: 0;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 16px; }
  .shippingAddressWrap select, .shippingAddressWrap input {
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    width: 100%;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 13px;
    font-family: inherit;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px; }
  .shippingAddressWrap button {
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    background: white;
    font-family: inherit;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 11px; }

.couponDiscountWrap {
  width: 355px; }
  .couponDiscountWrap h2 {
    margin-top: 0;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 16px; }
  .couponDiscountWrap label {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px; }
  .couponDiscountWrap input {
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    width: 100%;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 13px;
    font-family: inherit;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 25px; }
  .couponDiscountWrap button {
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    background: white;
    font-family: inherit;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 11px; }

.grandTotalWrap {
  width: 360px;
  background-color: #f5f3f3;
  padding: 40px;
  box-sizing: border-box; }
  .grandTotalWrap .grandTotalSub {
    margin-bottom: 14px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right; }
    .grandTotalWrap .grandTotalSub .grandTotalSub span:last-child {
      margin-left: 15px; }
  .grandTotalWrap .grandTotalGrand {
    text-align: right;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 22px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 17px; }
    .grandTotalWrap .grandTotalGrand span:last-child {
      color: #f16d7f;
      margin-left: 20px; }
  .grandTotalWrap button {
    width: 100%;
    background-color: #f16d7f;
    padding: 20px 38px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: none; }

.footer {
  margin-top: 100px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .footer .footerBrand {
    width: 427px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #898989; }
    .footer .footerBrand .footerBrandText1 {
      margin: 30px 0; }
  .footer .footerColumn {
    padding-top: 15px; }
    .footer .footerColumn h2 {
      margin: 0 0 30px;
      font-size: 18px;
      font-weight: 700;
      color: #f16d7f; }
    .footer .footerColumn a {
      display: block;
      color: #898989;
      font-size: 16px;
      text-decoration: none; }
    .footer .footerColumn a:hover {
      color: #f16d7f; }
    .footer .footerColumn a:not(:last-child) {
      margin-bottom: 25px; }

.copyrights {
  margin-top: 100px;
  height: 80px;
  background: #e6e6e6; }
  .copyrights .copyrightsWrap {
    color: #7a7a7a;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .copyrights .copyrightsWrap .copyrightsRight {
      display: flex;
      width: 200px;
      justify-content: space-between; }
      .copyrights .copyrightsWrap .copyrightsRight a {
        text-decoration: none;
        color: inherit; }
      .copyrights .copyrightsWrap .copyrightsRight i {
        width: 32px;
        height: 32px;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center; }
      .copyrights .copyrightsWrap .copyrightsRight i:hover {
        color: white;
        background: #f16d7f; }

/*# sourceMappingURL=style.css.map */
